%h1 Listing postings

%table
  %tr
    %th User
    %th Craigslist url
    %th
    %th
    %th

  - @postings.each do |posting|
    %tr
      %td= posting.user_id
      %td= posting.craigslist_url
      %td= link_to 'Show', posting
      %td= link_to 'Edit', edit_posting_path(posting)
      %td= link_to 'Destroy', posting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Posting', new_posting_path
